@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  /*
  --background: 09, 09, 0b;
  */
  --background: 17, 17, 19;
  --iris-text: 169, 169, 255;
  --iris-text-2: 225, 224, 255;
  background: rgba(var(--background));
}

.light {
  --background: 245, 245, 245;
  background: rgba(var(--background));
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 09, 09, 11;
    background: rgba(var(--background));
  }
}

/*:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/
